/* Following Utility-First Design.
 One style per class.
 https://frontstuff.io/in-defense-of-utility-first-css
*/


.border-none {
  border: none;
}

.border-radius-4px {
  border-radius: 4px;
}
.border-radius-8px {
  border-radius: 8px;
}
