
/*
  CSS Variables
*/
* {
  --color-white: #fff;
  --color-black-1: #2a2a2a;
  --color-black-2: #616161;
  --color-gray-1: #b1b1b1;
  --color-gray-2: #e8e8e8;
  --color-gray-3: #f8f8f8;
  --color-gray-cool-1: #BDCCD4;
}


/* Following Utility-First Design.
 One style per class.
 https://frontstuff.io/in-defense-of-utility-first-css
*/

/* White */
.color-white {
  color: var(--color-white);
}
.bg-color-white {
  background-color: var(--color-white);
}

/* Black */
.color-black-1 {
  color: var(--color-black-1);
}
.bg-color-black-1 {
  background-color: var(--color-black-1);
}

.color-black-2 {
  color: var(--color-black-2);
}
.bg-color-black-2 {
  background-color: var(--color-black-2);
}

/* Gray */
.color-gray-1 {
  color: var(--color-gray-1);
}
.bg-color-gray-1 {
  background-color: var(--color-gray-1);
}
.color-gray-2 {
  color: var(--color-gray-2);
}
.bg-color-gray-2 {
  background-color: var(--color-gray-2);
}
.color-gray-3 {
  color: var(--color-gray-3);
}
.bg-color-gray-3 {
  background-color: var(--color-gray-3);
}

.color-gray-cool-1 {
  color: var(--color-gray-cool-1);
}
.bg-color-gray-cool-1 {
  background-color: var(--color-gray-cool-1);
}
