
/*
  CSS Variables
*/
* {
  --color-white: #fff;
  --color-black: #000000;
  --color-black-1: #2A2A2A;
  --color-black-2: #616161;
  --color-gray-1: #B1B1B1;
  --color-gray-2: #E8E8E8;
  --color-gray-3: #F8F8F8;
  --color-gray-cool-1: #BDCCD4;
  --color-gray-cool-2: #7693AD;
  --color-blue-1: #023E73;
  --color-blue-2: #0061B6;
  --color-blue-3: #0597F2;
  --color-blue-4: #74D8FF;
  --color-blue-5: #D5F2FE;
  --color-blue-6: #2151A1;
  --color-red-1: #F5222D;
  --color-red-2: #CF1322;
  --color-green-1: #88B441;
  --color-orange-1: #FDB515;
  --color-orange-2: #FA8C16;
  --color-orange-3: #D46B08;
  --color-purple-1: #8D21BE;
}


/* Following Utility-First Design.
 One style per class.
 https://frontstuff.io/in-defense-of-utility-first-css
*/

/* White */
.color-white {
  color: var(--color-white);
}
.bg-color-white {
  background-color: var(--color-white);
}
.border-color-white {
  border-color: var(--color-white);
}

/* Black */
.color-black {
  color: var(--color-black);
}
.bg-color-black {
  background-color: var(--color-black);
}
.border-color-black {
  border-color: var(--color-black);
}
/* Black 1 */
.color-black-1 {
  color: var(--color-black-1);
}
.bg-color-black-1 {
  background-color: var(--color-black-1);
}
.border-color-black-1 {
  border-color: var(--color-black-1);
}
/* Black 2 */
.color-black-2 {
  color: var(--color-black-2);
}
.bg-color-black-2 {
  background-color: var(--color-black-2);
}
.border-color-black-2 {
  border-color: var(--color-black-2);
}

/* Gray 1 */
.color-gray-1 {
  color: var(--color-gray-1);
}
.bg-color-gray-1 {
  background-color: var(--color-gray-1);
}
.border-color-gray-1 {
  border-color: var(--color-gray-1);
}
/* Gray 2 */
.color-gray-2 {
  color: var(--color-gray-2);
}
.bg-color-gray-2 {
  background-color: var(--color-gray-2);
}
.border-color-gray-2 {
  border-color: var(--color-gray-2);
}
/* Gray 3 */
.color-gray-3 {
  color: var(--color-gray-3);
}
.bg-color-gray-3 {
  background-color: var(--color-gray-3);
}
.border-color-gray-3 {
  border-color: var(--color-gray-3);
}
/* Gray Cool 1 */
.color-gray-cool-1 {
  color: var(--color-gray-cool-1);
}
.bg-color-gray-cool-1 {
  background-color: var(--color-gray-cool-1);
}
.border-color-gray-cool-1 {
  border-color: var(--color-gray-cool-1);
}
/* Gray Cool 2 */
.color-gray-cool-2 {
  color: var(--color-gray-cool-2);
}
.bg-color-gray-cool-2 {
  background-color: var(--color-gray-cool-2);
}
.border-color-gray-cool-2 {
  border-color: var(--color-gray-cool-2);
}

/* Blue 1 */
.color-blue-1 {
  color: var(--color-blue-1);
}
.bg-color-blue-1 {
  background-color: var(--color-blue-1);
}
.border-color-blue-1 {
  border-color: var(--color-blue-1);
}
/* Blue  2 */
.color-blue-2 {
  color: var(--color-blue-2);
}
.bg-color-blue-2 {
  background-color: var(--color-blue-2);
}
.border-color-blue-2 {
  border-color: var(--color-blue-2);
}
/* Blue 3 */
.color-blue-3 {
  color: var(--color-blue-3);
}
.bg-color-blue-3 {
  background-color: var(--color-blue-3);
}
.border-color-blue-3 {
  border-color: var(--color-blue-3);
}
/* Blue 4 */
.color-blue-4 {
  color: var(--color-blue-4);
}
.bg-color-blue-4 {
  background-color: var(--color-blue-4);
}
.border-color-blue-4 {
  border-color: var(--color-blue-4);
}
/* Blue 5 */
.color-blue-5 {
  color: var(--color-blue-5);
}
.bg-color-blue-5 {
  background-color: var(--color-blue-5);
}
.border-color-blue-5 {
  border-color: var(--color-blue-5);
}
/* Blue 6 */
.color-blue-6 {
  color: var(--color-blue-6);
}
.bg-color-blue-6 {
  background-color: var(--color-blue-6);
}
.border-color-blue-6 {
  border-color: var(--color-blue-6);
}

/* Red 1 */
.color-red-1 {
  color: var(--color-red-1);
}
.bg-color-red-1 {
  background-color: var(--color-red-1);
}
.border-color-red-1 {
  border-color: var(--color-red-1);
}
/* Red  2 */
.color-red-2 {
  color: var(--color-red-2);
}
.bg-color-red-2 {
  background-color: var(--color-red-2);
}
.border-color-red-2 {
  border-color: var(--color-red-2);
}

/* Green 1 */
.color-green-1 {
  color: var(--color-green-1);
}
.bg-color-green-1 {
  background-color: var(--color-green-1);
}
.border-color-green-1 {
  border-color: var(--color-green-1);
}

/* Orange 1 */
.color-orange-1 {
  color: var(--color-orange-1);
}
.bg-color-orange-1 {
  background-color: var(--color-orange-1);
}
.border-color-orange-1 {
  border-color: var(--color-orange-1);
}
/* Orange 2 */
.color-orange-2 {
  color: var(--color-orange-2);
}
.bg-color-orange-2 {
  background-color: var(--color-orange-2);
}
.border-color-orange-2 {
  border-color: var(--color-orange-2);
}
/* Orange 3 */
.color-orange-3 {
  color: var(--color-orange-3);
}
.bg-color-orange-3 {
  background-color: var(--color-orange-3);
}
.border-color-orange-3 {
  border-color: var(--color-orange-3);
}

/* Purple 1 */
.color-purple-1 {
  color: var(--color-purple-1);
}
.bg-color-purple-1 {
  background-color: var(--color-purple-1);
}
.border-color-purple-1 {
  border-color: var(--color-purple-1);
}
