/* Following Utility-First Design.
 One style per class.
 https://frontstuff.io/in-defense-of-utility-first-css
*/


.display-block {
  display: block;
}
.display-contents {
  display: contents;
}
.display-flex {
  display: flex;
}
.display-grid {
  display: grid;
}
.display-inline {
  display: inline;
}
.display-none {
  display: none;
}
.display-table {
  display: table;
}
.display-inherit {
  display: inherit;
}
