/* Following Utility-First Design.
 One style per class.
 https://frontstuff.io/in-defense-of-utility-first-css
*/

.width-16px {
  width: 16px;
}
.height-16px {
  height: 16px;
}

.width-100pc {
  width: 100%;
}

.width-184px {
  width: 184px;
}
