@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap");

/*
  CSS Variables
*/
* {
  --font-family-roboto: 'Roboto', sans-serif;
  --font-family-roboto-mono: 'Roboto Mono', monospace;
  --size-xxlarge: 32px;
  --size-xlarge: 24px;
  --size-large: 18px;
  --size-default: 16px;
  --size-small: 14px;
  --size-xsmall: 12px;
}

/* Following Utility-First Design.
 One style per class.
 https://frontstuff.io/in-defense-of-utility-first-css
*/

/*
 Font Faimly
 */
.font-family-roboto {
  font-family: var(--font-family-roboto);
}
.font-family-roboto-mono {
  font-family: var(--font-family-roboto-mono);
}

/*
  Font Size
 */
.font-size-xxlarge {
  font-size: var(--size-xxlarge);
}
.font-size-xlarge {
  font-size: var(--size-xlarge);
}
.font-size-large {
  font-size: var(--size-large);
}
.font-size-default {
  font-size: var(--size-default);
}
.font-size-small {
  font-size: var(--size-small);
}
.font-size-xsmall {
  font-size: var(--size-xsmall);
}

.font-size-32px {
  font-size: 32px;
}
.font-size-26px {
  font-size: 26px;
}
.font-size-24px {
  font-size: 24px;
}
.font-size-22px {
  font-size: 22px;
}
.font-size-18px {
  font-size: 18px;
}
.font-size-16px {
  font-size: 16px;
}
.font-size-14px {
  font-size: 14px;
}
.font-size-12px {
  font-size: 12px;
}

/*
  Font Weight
 */
.font-weight-bold {
  font-weight: bold;
}
.font-weight-normal {
  font-weight: normal;
}
.font-weight-inherit {
  font-weight: inherit;
}


.text-uppercase {
  text-transform: uppercase;
}
.text-lowercase {
  text-transform: lowercase;
}

.text-align-left {
  text-align: left;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}

/* Line Height */
.line-height-18px {
  line-height: 18px;
}
