@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap");

/*
  CSS Variables
*/
* {
  --font-family-roboto: 'Roboto', sans-serif;
  --font-family-roboto-mono: 'Roboto Mono', monospace;
}

/* Following Utility-First Design.
 One style per class.
 https://frontstuff.io/in-defense-of-utility-first-css
*/

/*
 Font Faimly
 */
.font-family-roboto {
  font-family: var(--font-family-roboto);
}
.font-family-roboto-mono {
  font-family: var(--font-family-roboto-mono);
}

/*
  Font Size
 */
.font-size-32px {
  font-size: 32px;
}
.font-size-26px {
  font-size: 26px;
}
.font-size-24px {
  font-size: 24px;
}
.font-size-22px {
  font-size: 22px;
}
.font-size-18px {
  font-size: 18px;
}
.font-size-16px {
  font-size: 16px;
}
.font-size-14px {
  font-size: 14px;
}
.font-size-12px {
  font-size: 12px;
}

/*
  Font Weight
 */
.font-weight-bold {
  font-weight: bold;
}
.font-weight-normal {
  font-weight: normal;
}


.text-uppercase {
  text-transform: uppercase;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}
