@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap");

/*
  CSS Variables
*/
* {
  --font-family-roboto: 'Roboto', sans-serif;
  --font-family-roboto-mono: 'Roboto Mono', monospace;
  --font-size-32pt: '32pt';
  --font-size-24pt: '24pt';
  --font-size-18pt: '18pt';
  --font-size-16pt: '16pt';
  --font-size-14pt: '14pt';
  --font-size-12pt: '12pt';
  --font-weight-bold: 'bold';
  --font-weight-normal: 'normal';
  --text-uppercase: 'uppercase';
}

/* Following Utility-First Design.
 One style per class.
 https://frontstuff.io/in-defense-of-utility-first-css
*/

/*
 Font Faimly
 */
.font-family-roboto {
  font-family: var(--font-family-roboto);
}
.font-family-roboto-mono {
  font-family: var(--font-family-roboto-mono);
}

/*
  Font Size
 */
.font-size-32pt {
  font-size: var(--font-size-32pt);
}
.font-size-24pt {
  font-size: var(--font-size-24pt);
}
.font-size-18pt {
  font-size: var(--font-size-18pt);
}
.font-size-16pt {
  font-size: var(--font-size-16pt);
}
.font-size-14pt {
  font-size: var(--font-size-14pt);
}
.font-size-12pt {
  font-size: var(--font-size-12pt);
}

/*
  Font Weight
 */
.font-weight-bold {
  font-weight: var(--font-weight-bold);
}
.font-weight-normal {
  font-weight: var(--font-weight-normal);
}


.text-uppercase {
  text-transform: var(--text-uppercase);
}
